# casting is a process to convert a data type to another one

In [1]:
a=10

In [3]:
print(type(a))

<class 'int'>

# conversion of integer type to float data type

In [7]:
b=float(a)
print(b)
print(type(b))

10.0
<class 'float'>

In [12]:
print(a)

10

### conversion of integer to string

In [14]:
print(a)

10

In [16]:
c=str(a)
print(type(c))

<class 'str'>

In [19]:
(c)

'10'

In [18]:
type(c)

str

In [20]:
print(a,type(a))
print(b,type(b))
print(c,type(c))

10 <class 'int'>
10.0 <class 'float'>
10 <class 'str'>

# conversion of float to int or string

In [22]:
d=10.99
print(d,type(d))

10.99 <class 'float'>

# 'let's learn casting'

int()
float()
string()
lsit()
tuple()
set()
frozenset()
dict()
complex()
bool()

In [4]:
a=10
print(type(a),a)

<class 'int'> 10

In [5]:
b=10.09
print(type(b),b)

<class 'float'> 10.09

In [6]:
c=str(a)
print(type(c),c)

<class 'str'> 10

In [8]:
d="kanshi"
print(type(d),d)

<class 'str'> kanshi

In [9]:
e=int(d)
print(type(e),e)

ValueError: invalid literal for int() with base 10: 'kanshi'

In [1]:
a=10
print(type(a),a)

<class 'int'> 10

In [2]:
b=float(a)
print(type(b),b)

<class 'float'> 10.0

In [3]:
c=str(b)
print(type(c),c)

<class 'str'> 10.0

# float(),int(),str()

In [4]:
d=10.0
print(type(d),d)

<class 'float'> 10.0

In [5]:
e=int(d)
print(type(e),e)

<class 'int'> 10

In [6]:
f=str(d)
print(type(f),f)

<class 'str'> 10.0

# str(),float(),int()

In [7]:
g="10"
print(type(g),g)

<class 'str'> 10

In [8]:
e=int(g)
print(type(e),e)

<class 'int'> 10

In [9]:
f=float(g)
print(type(f),f)

<class 'float'> 10.0

In [10]:
def id(arg):
    print(type(arg))

In [12]:
id(g)

<class 'str'>

In [14]:
id(g)

<class 'str'>

In [15]:
k="10.09"

In [16]:
l=int(k)
print(type(l),l)

ValueError: invalid literal for int() with base 10: '10.09'

In [17]:
#in string  python is confused to see dot. he can't read that is it decimal value or a full stop.

In [21]:
m="10.2"

In [22]:
n=int(m)
print(type(n),n)

ValueError: invalid literal for int() with base 10: '10.2'

In [23]:
n=float(m)
print(type(n),n)

<class 'float'> 10.2

In [26]:
o="k"
print(type(o),o)

<class 'str'> k

In [27]:
p=int(o)
print(type(p),p)

ValueError: invalid literal for int() with base 10: 'k'

In [28]:
q=float(o)
print(type(q),q)

ValueError: could not convert string to float: 'k'

In [30]:
i="10.0"
print(type(i),i)

<class 'str'> 10.0

In [31]:
j=int(i)
print(type(j),j)

ValueError: invalid literal for int() with base 10: '10.0'

In [32]:
u=float(i)
print(type(u),u)

<class 'float'> 10.0

# list(),tuple(),set(),frozenset()

In [38]:
 a=[1,2,3,4,5,6,46]
len(a)

7

In [39]:
print(type(a),a)

<class 'list'> [1, 2, 3, 4, 5, 6, 46]

In [41]:
b=tuple(a)
print(type(b),b)

<class 'tuple'> (1, 2, 3, 4, 5, 6, 46)

In [42]:
 c=frozenset(a)
print(type(c),c)

<class 'frozenset'> frozenset({1, 2, 3, 4, 5, 6, 46})

In [43]:
d=set(a)
print(type(d),d)

<class 'set'> {1, 2, 3, 4, 5, 6, 46}

In [44]:
z="10.09"

In [45]:
print(type(z),z)

<class 'str'> 10.09

In [47]:
x=float(z)
print(type(x),x)

<class 'float'> 10.09

In [48]:
s=eval(x)
print(type(s),s)

TypeError: eval() arg 1 must be a string, bytes or code object

In [49]:
eval

In [50]:
x="10.09"

In [51]:
n=eval(x)

In [52]:
print(n,type(n))

10.09 <class 'float'>

In [53]:
y="22"
k=eval(y)
print(k,type(k))

22 <class 'int'>

# eval() : eval() function use for converting string to float and int

casting on collection kind data types(list,tuple,set,frozenset)

In [56]:
print(a)

['deemon', 'arjun', 'pandav', 'simon', 'bheeshm']

In [58]:
a.append("ram")
print(a)

['deemon', 'arjun', 'pandav', 'simon', 'bheeshm', 'ram', 'ram']

In [62]:
b=tuple(a)

In [66]:
b.append("vishu")

AttributeError: 'tuple' object has no attribute 'append'

In [67]:
print(b)

('deemon', 'arjun', 'pandav', 'simon', 'bheeshm', 'ram', 'ram', 'vishu')

# list to set

In [68]:

a=('deemon', 'arjun', 'pandav', 'simon', 'bheeshm', 'ram', 'ram', 'vishu')

In [69]:
print(a)

('deemon', 'arjun', 'pandav', 'simon', 'bheeshm', 'ram', 'ram', 'vishu')

In [70]:
set(a)

{'arjun', 'bheeshm', 'deemon', 'pandav', 'ram', 'simon', 'vishu'}

In [74]:
c=frozenset(a)

In [76]:
c.add("kalini")

AttributeError: 'frozenset' object has no attribute 'add'

# converting one type value to another type value is called type casting/type conversion

In [5]:
a=25.6
(type(a),a)

(float, 25.6)

In [6]:
b=int(a)
print(type(b),b)

<class 'int'> 25

In [8]:
c=str(a)
print(type(c),c)

<class 'str'> 25.6

In [1]:
j="10.0"

In [2]:
k=float(j)
print(type(k),k)

<class 'float'> 10.0

In [4]:
n=int(k)
print(type(n),n)

<class 'int'> 10

In [5]:
int(float(j))

10

In [6]:
float(int(n))

10.0

In [12]:
eval(j)

10.0

In [13]:
eval(j)

10.0

In [14]:
z="10.09"

In [16]:
n=eval(z)
print(type(n),n)

<class 'float'> 10.09

In [17]:
y="22"

In [19]:
o=eval(y)
print(type(o),o)

<class 'int'> 22

# eval() function use for conversion of string into float & int both if string have int value it will convert into int or if a string have flaot value it will convert into float

 # casting on collection kind data type(list,tuple,set,frozenset)

In [23]:
a=["krushna","nakul","sahdev","bheem","yudhistar","arjun"]
print(a)

['krushna', 'nakul', 'sahdev', 'bheem', 'yudhistar', 'arjun']

In [26]:
a.append("abhimanyu")
print(a)

['krushna', 'nakul', 'sahdev', 'bheem', 'yudhistar', 'arjun', 'abhimanyu', 'abhimanyu']

In [27]:
b=tuple(a)
print(b)

('krushna', 'nakul', 'sahdev', 'bheem', 'yudhistar', 'arjun', 'abhimanyu', 'abhimanyu')

In [28]:
c=set(b)
print(c)

{'krushna', 'bheem', 'yudhistar', 'nakul', 'arjun', 'sahdev', 'abhimanyu'}

In [30]:
d=frozenset(c)
print(d)

frozenset({'nakul', 'krushna', 'abhimanyu', 'arjun', 'sahdev', 'bheem', 'yudhistar'})

In [32]:
c.add(1)
print(c)

{1, 'krushna', 'bheem', 'yudhistar', 'nakul', 'arjun', 'sahdev', 'abhimanyu'}

# list to frozenset

In [33]:
a=["krushna","nakul","sahdev","bheem","yudhistar","arjun"]
print(a)

['krushna', 'nakul', 'sahdev', 'bheem', 'yudhistar', 'arjun']

In [34]:
a.append("arjun")

In [36]:
b=frozenset(a)
print(a)

['krushna', 'nakul', 'sahdev', 'bheem', 'yudhistar', 'arjun', 'arjun']

# tuple to list,frozenset,set

In [38]:
a=("krushna","nakul","sahdev","bheem","yudhistar","arjun")
print(type(a),a)

<class 'tuple'> ('krushna', 'nakul', 'sahdev', 'bheem', 'yudhistar', 'arjun')

In [39]:
# to list

In [40]:
b=list(a)
print(b)

['krushna', 'nakul', 'sahdev', 'bheem', 'yudhistar', 'arjun']

In [41]:
b.append("bhaiya ji")
print(b)

['krushna', 'nakul', 'sahdev', 'bheem', 'yudhistar', 'arjun', 'bhaiya ji']

In [42]:
c=tuple(b)
print(c)

('krushna', 'nakul', 'sahdev', 'bheem', 'yudhistar', 'arjun', 'bhaiya ji')

In [43]:
# frozenset

In [44]:
set(a)
print(a)

('krushna', 'nakul', 'sahdev', 'bheem', 'yudhistar', 'arjun')

In [45]:
frozenset(a)

frozenset({'arjun', 'bheem', 'krushna', 'nakul', 'sahdev', 'yudhistar'})

In [46]:
# frozenset to list tuple and set

In [47]:
a=10
print(type(a),a)

<class 'int'> 10

In [50]:
b=complex(a)
print(b)

(10+0j)

In [55]:
c=str(b)
print(type(c),c)

<class 'str'> (10+0j)

# revision

casting:-type casting is the method to convert the pythonvariable datatype into a certain data type in order to perform the reuired operation by user

In [5]:
a=input("enter the value1:")
b=input("enter the value2:")
print(a+b) # this in concatination when we run this cell

enter the value1: 10
enter the value2: 20

1020

# type casting int,float,eval()

In [8]:
a=int(input("enter the value1:"))
b=int(input("enter the value2:"))
print(a+b) #now it is giving me answer in addition

enter the value1: 10
enter the value2: 20

30

In [9]:
a=int(input("enter the value1:"))
b=int(input("enter the value2:"))
print(a+b) #now it is giving me answer in addition

enter the value1: 10.25

ValueError: invalid literal for int() with base 10: '10.25'

In [17]:
a=float(input("enter the value1:"))
b=float(input("enter the value2:"))
print(a+b) #now it is giving me answer in addition

enter the value1: 1098908.343
enter the value2: 12443.423

1111351.766

In [16]:
c=float(input("wnter 1st digit:"))
d=float(input("enter 2nd digit:"))
print(c+d)

wnter 1st digit: 10.25
enter 2nd digit: 10.36

20.61

In [19]:
c=eval(input("wnter 1st digit:"))
d=eval(input("enter 2nd digit:"))
print(c-d)

wnter 1st digit: 6864387
enter 2nd digit: 65238768

-58374381

In [21]:
c=eval(input("enter 1st digit:"))
d=eval(input("enter 2nd digit:"))
print(c-d,c+d,c*d,c/d)

enter 1st digit: 253555
enter 2nd digit: 25667

227888 279222 6507996185 9.878637939767016

In [22]:
bin(233535)

'0b111001000000111111'

In [24]:
c=eval(input("enter 1st digit:"))
d=eval(input("enter 2nd digit:"))
print(c-d,c+d,c*d,c/d)

enter 1st digit: '0b111001000000111111'
enter 2nd digit: '0b111001000000111111'

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [25]:
c=eval(input("enter 1st digit:"))
d=eval(input("enter 2nd digit:"))
print(c-d,c+d,c*d,c/d)

enter 1st digit: 0b11100100000011111
enter 2nd digit: 0b111001000000111111

-116768 350302 27269181345 0.4999978589932986

In [29]:
a=6
print('type of a=',type(a))
b=10.25
print('type of b=',type(b))
c=a+b
print('type of c=',type(c))

print('sum=',c)

type of a= <class 'int'>
type of b= <class 'float'>
type of c= <class 'float'>
sum= 16.25

# boolean,int,float,string type casting

In [32]:
a=True
print('type of a=',type(a))
b=10.25
print('type of b=',type(b))
c=a+b
print('type of c=',type(c))

print('sum=',c)

type of a= <class 'bool'>
type of b= <class 'float'>
type of c= <class 'float'>
sum= 11.25

In [33]:
a=False
print('type of a=',type(a))
b=10.25
print('type of b=',type(b))
c=a+b
print('type of c=',type(c))

print('sum=',c)

type of a= <class 'bool'>
type of b= <class 'float'>
type of c= <class 'float'>
sum= 10.25

# user defining type casting

In [34]:
a=6
b=int(2.5)
print(a+b)

8

In [39]:
a=2.5
b=float(10)
print(a+b)

12.5

In [8]:
a=3
print(type(a))
b=float(a)
print(type(b))
c=(a+b)
print(type(c))

<class 'int'>
<class 'float'>
<class 'float'>

# questions on type casting

In [11]:
# int := type casting in int(bool,float,string,complexinto int)

In [12]:
a=True
b=int(a)
print('b=',b)
print('type of b=',type(b))

b= 1
type of b= <class 'int'>

In [13]:
a=False
b=int(a)
print('b=',b)
print('type of b=',type(b))

b= 0
type of b= <class 'int'>

In [14]:
# float to int

In [15]:
a=2.3
b=int(a)
print('b=',b)
print('type of b=',type(b))

b= 2
type of b= <class 'int'>

In [16]:
# float to complex

In [17]:
a=2+4j
b=int(a)
print('b=',b)
print('type of b=',type(b))

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [18]:
a=0b11100100000011111
b=int(a)
print('b=',b)
print('type of b=',type(b))

b= 116767
type of b= <class 'int'>

In [19]:
# string to int # dont put alphabet in string

In [21]:
a='123papa'
b=int(a)
print('b=',b)
print('type of b=',type(b))

ValueError: invalid literal for int() with base 10: '123papa'

In [22]:
a='123'
b=int(a)
print('b=',b)
print('type of b=',type(b))

b= 123
type of b= <class 'int'>

In [23]:
a='01b00'
b=int(a)
print('b=',b)
print('type of b=',type(b))

ValueError: invalid literal for int() with base 10: '01b00'

In [24]:
a=True
b=float(a)
print('b=',b)
print('type of b=',type(b))

b= 1.0
type of b= <class 'float'>

In [25]:
a=False
b=float(a)
print('b=',b)
print('type of b=',type(b))

b= 0.0
type of b= <class 'float'>

In [29]:
a='12263783'
b=float(a)
print('b=',b)
print('type of b=',type(b))

b= 12263783.0
type of b= <class 'float'>

In [27]:
a=2+5j
b=float(a)
print('b=',b)
print('type of b=',type(b))

TypeError: float() argument must be a string or a real number, not 'complex'

In [30]:
a='12.3'
b=float(a)
print('b=',b)
print('type of b=',type(b))

b= 12.3
type of b= <class 'float'>

In [2]:
a=2.1+int(3.5)
print(type(a),a)

<class 'float'> 5.1

In [3]:
a=int(2.1)+int(3.5)
print(type(a),a)

<class 'int'> 5

In [4]:
int(false)

NameError: name 'false' is not defined

In [5]:
a=comlex(1)

NameError: name 'comlex' is not defined