In [1]:
# variables :- containers to store data

In [2]:
print("chanchal")

chanchal

In [3]:
print(5)

5

In [4]:
x=5
print(x)

5

In [6]:
y="this is chanchal"
print(y)

this is chanchal

# rules for naming variables
< a varibale name can not start from a digit.

In [9]:
4x=100 # a variable name cant use from a digit

SyntaxError: invalid decimal literal (3118538133.py, line 1)

In [12]:
x4=100

In [1]:
# nested if conditional

In [2]:
# nested if else(if else) called nested if

In [7]:
user=eval(input('enter a number:'))
if user>=0:
    print('number is positive')
    
    if user%2==0:
        print('even')
    else:
        print('odd')
    

else:
    print('number is negative')

enter a number: 10

number is positive
even

In [9]:
user=eval(input('enter a number:'))
if user>=0:
    print('number is positive')
    
    if user%2==0:
        print('even')
    else:
        print('odd')
        
else:
    print('number is negative')
    
    if user%2==0:
        print('even')
    else:
        print('odd')

enter a number: -3

number is negative
odd

In [10]:
user=eval(input('enter a number:'))
if user>=0:
    print('number is positive')
    
    if user%2==0:
        print('even')
    else:
        print('odd')
        
else:
    print('number is negative')
    
    if user%2==0:
        print('even')
    else:
        print('odd')

enter a number: -2.5

number is negative
odd

# ternary operator

"a concise way of writing simple if else statement in a single line"

In [12]:
num1=eval(input("enter your 1st number:"))
num2=eval(input("enter your 2nd number:"))
operations=input("please choose one symbole +,-,*,/:")
if operations=="+":
    print(num1+num2)
else:
    print(num1-num2)

enter your 1st number: 10
enter your 2nd number: 20
please choose one symbole +,-,*,/: +

30

In [13]:
num1=eval(input("enter your 1st number:"))
num2=eval(input("enter your 2nd number:"))
operations=input("please choose one symbole +,-,*,/:")
print(num1+num2) if operations=="+" else print(num1-num2)

enter your 1st number: 10
enter your 2nd number: 20
please choose one symbole +,-,*,/: -

-10

In [14]:
# conversion of nested if else in ternary operator

In [15]:
# only if else convert in ternary
# in if else  put single statement in it

In [16]:
user=eval(input('enter a number:'))
if user>=0:
    if user%2==0:
        print("positive","even")
    else:
        print("positive","odd")
else:
    if user%2==0:
        print("negative","even")
    else:
        print("negative","odd")

enter a number: 10

positive even
negative even

In [21]:
# ternary operator

In [22]:
#work required 3 openends

In [23]:
# ternary operators also known as conditional expression are operators that evaluate something based on a condition being true or false

In [ ]:
# it simply allows to tset a condition in a single line replacing the multiline if else making the code compact.

In [28]:
a=5
b=6
if a<b:
    print("a is larger")

else:
    print("b is larger")

a is larger

In [30]:
 print("a is larger") if a<b else print("b is larger")

a is larger

In [31]:
a=15
b=6
print("a is larger") if a>b else print("b is larger")

a is larger

In [32]:
# in ternary we can't make multiline blog

In [39]:
print('hello') if (a>b) else print('no')

hello